.btn {
    border: 0;
    border-radius: $border-r-sm;
    padding: 0.5rem 1rem;
    display: inline-block;
    @media #{ $mediumup } {
        padding: 1rem 1.5rem;
    }
} 

.btn-brand {
    background-color: $brand;
    color: $white;
    border: 2px solid $brand;
    &:hover {
        background: $gray;
        color: $brand;
        cursor: pointer;
    }
    &:disabled {
        background: $gray;
        color: $white;
    }
    &-outline {
        background: $gray;
        color: $brand;
        border: 2px solid $brand;
    }
}

.btn-gray {
    background-color: $gray;
    color: $brand;
    border: 2px solid $gray;
    &:hover {
        background: $brand;
        color: $gray;
        cursor: pointer;
    }
}