.challenge-page {
    & .intro {
        &:first-child {
            align-items: flex-start;
            position: relative;
        }
    }
    & .home-link {
        position: absolute;
        top: 1rem;
        left: 1rem;
    }
    & .header-text {
        margin-bottom: 6rem;
    }
    & .instructions {
        margin: 1rem 0;
        line-height: 1.5rem;
    }
}