.home-header {
  & .intro:first-child {
    color: $brand2;
  }
  & .app-description {
    line-height: 1.5rem;
    & p {
      margin-bottom: 1rem;
    }
  }
  & .welcome-text {
    margin-bottom: 1rem;
  }

  & .challenge-link {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 0;
    @media #{ $mediumup } {
      width: fit-content;
    }
  }

}
