$brand: #043927; // sacremento green
$brand2: #c7ea46; // lime

$white: #fff;
$gray: #eeeeee; // light gray
$black: #232023;

$border-r-sm: 4px;

$mediumup: "only screen and (min-width: 768px)";
$largeup: "only screen and (min-width: 992px)";

// Backgrounds
.bg-brand {
    background: $brand;
}
.bg-brand-2 {
    background: $brand2;
}

.bg-gray {
    background: $gray;
}

// Font Colours
.text-white {
    color: $white;
}
.text-brand {
    color: $brand;
}
.text-brand-2 {
    color: $brand2;
}

// Font Sizes
.text-sm {
    font-size: 0.5rem;
}

.text-lg {
    font-size: 1.5rem;
}

// Components
.btn {
    border: 0;
    border-radius: $border-r-sm;
    padding: 1rem 1.5rem;
    display: inline-block;
} 

.btn-brand {
    background-color: $brand;
    color: $white;
    border: 2px solid $brand;
    &:hover {
        background: $gray;
        color: $brand;
        cursor: pointer;
    }
}

.btn-gray {
    background-color: $gray;
    color: $brand;
    border: 2px solid $gray;
    &:hover {
        background: $brand;
        color: $gray;
        cursor: pointer;
    }
}